# Python
.venv/
venv/
.api-venv/
.dbt312-venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log

# dbt
target/
dbt_packages/
logs/

# OS
.DS_Store

# Data
*.csv
*.parquet

